<div class="row" >
    <div class="shadow-lg col-sm-4" *ngFor="let house of Houses">
        <div class="card">
            <img class = "propImg" [src]="house.Url"/>
            <div class="card-body  p-2  extra">
                <div class="shadow-sm">
                    <h3 >
                        {{house.Name}}
                    </h3>
                    <p>
                        {{house.Description}}
                    </p>
                    <p>
                        ${{house.price}}
                    </p> 
                </div>
                
            </div>
        </div>
    </div>
    
</div>